body {
  font-family: Arial,Helvetica,Geneva,Sans-serif,sans-serif;
  font-size: 0.8em;
}

.table {
  background-color:#f1f2f6;
  border: solid 1px #929bab;
  padding: 5px;
  border-spacing: 2px;
  width: 100%
}

.field {
  background-color: #e3e4ea;
  color: #000000;
  border: 1px solid #929bab;
}


.right {
  background-color: red;
  border: 3px solid red;
}

td {
  border-style: none;
  padding: 0px;
}

tr {
  border: solid 1px #330000;
}

.label {
  width: 20%;
  min-width: 50px;
  max-width: 200px;
  background-color: #e3e4ea;
  vertical-align: top;
  padding: 5px;
}
.input {
  width: 70%;
  min-width: 70%
}

.listdata {
  border: 2px solid #888888;
  background-color: #e3e4ea;
  padding: 5px;
}

.list-top {
  margin: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}

.date {
  float: left;
  width: 35%;
}

.author {
  float: left;
  width: 25%;
}

.message {
  margin: 5px;
}