body {
  font-family: verdana;
  font-size: 11px;
}

.table {
  background-color:#f1f2f6;
  border: solid 1px #929bab;
  padding: 5px;
  border-spacing: 2px;
  width: 100%
}

.field {
  background-color: #e3e4ea;
  color: #000000;
  border: 1px solid #929bab;
}


.right {
  background-color: red;
  border: 3px solid red;
}

td {
  border-style: none;
  padding: 0px;
}

tr {
  border: solid 1px #330000;
}

.label {
  width: 30%;
  min-width: 50px;
  max-width: 200px;
  background-color: #e3e4ea;
  font-weight: bold;
  vertical-align: top;
  padding: 5px;
}
.input {
  width: 70%;
  min-width: 70%
}



.listdata {
  border: 1px solid black;
  font-weight: bold;
  background-color: #e3e4ea;
  padding: 5px;
}

